@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&family=Poppins:wght@400;600;700;900&family=Roboto:wght@500;700;900&display=swap');
*{   
    padding: 0;
    margin: 0;
}

    
.hero{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #b7f0ee, #1ae7f1,#1db7bf, #0a7a80);
    background-position: center;
    background-size: cover;
    position: absolute;
    }
    
.form-box{
    width: 380px;
    height: 450px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    }
    
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    }
    
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    }
    
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
    }
    
.input-group{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
    }

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    }
.input-field1{
    width: 100%;
    padding: 15px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    }
    
.submit-btn{
    width: 85%;
    padding: 15px 30px;
    cursor: pointer;
    display: black;
    margin: auto;
    display: flex;
    display: grid;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    bottom: 230px;
    outline: none;
    border-radius: 30px;
    }
    
#login{
    left: 50px;
    }
    
#register{
    left: 450px;
    }



nav {
    height: 60px;
    display: flex;
    background: url(https://image.shutterstock.com/image-vector/cosmic-shining-abstract-background-260nw-1049450375.jpg);
    align-items: center;
}

a {
    text-decoration: none;
    margin: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: yellow;
}

a:hover {
    font-weight: 600;
    transform: scale(1.15);
}

header {
    height: 500px;
    background-image: url(https://assets.nrdc.org/sites/default/files/styles/header_background/public/personalaction-kidsclimatechange-1200x630.jpg?itok=JBsv97mu);
}

header>h1 {
    text-align: left;
    font-size: 48px;
    padding-top: 180px;
    margin-left: 60px;
    color: black;
    font-family: 'Playfair Display', serif;
}

header>h2 {
    text-align: left;
    padding-top: 10px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}



.container {
    position: relative;
    text-align: center;
    color:white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.center-top-left{
position: absolute;
bottom: 100px;
left: 17px;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #id{
      background: url(./bg.jpg);
      background-position: center;
      background-size: cover;
  }

  #space{
      width: 475px;
  }

.left-nav{
        text-decoration: none;
        margin: 30px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        align-items: center;
        display: flex;
        padding: 10px;
        color: cyan;
    }


